@import url(./main.css);

$fond : rgb(16, 16, 16);
$blanc: rgb(202, 202, 202);
$input : #262626;
$boutons : #0099ff;

html {
    font-family: Arial,sans-serif;
    color: $blanc;
    body {
        main {
            h1 {
                font-size: 1.2rem;
                text-align: left;
                margin-top: 4vh;
                padding-left: 8vw;
            }

            button {
                width: 25vw;
                padding: 10px 0 10px 0;
                border-radius: 10px;
                border: none;
                font-size: 1rem;
                font-weight: bold;
                background-color: $boutons;
            }

            #publier {
                position: absolute;
                top: 5vw;
                left: 70vw;
                border-radius: 30px;
            }

            #publier.desac{
                opacity: .5;
                pointer-events: none;
            }

            #publication {
                display: flex;
                flex-flow: wrap row;
                justify-content: center;
                align-items: center;
                margin-top: 7vh;
                gap: 5vh;

                #photo {
                    background-color: $blanc;
                    width: 60vw;
                    padding: 15px 10px 15px 50px;
                    color: $input;
                    border-radius: 30px;
                }

                #photo::before {
                    content: '';
                    background-image: url('../assets/imgs/svg/photo.svg');
                    width: 25px;
                    height: 25px;
                    background-size: contain;
                    display: block;
                    position: absolute;
                    transform: translateX(-30px) translateY(-4px);
                    background-repeat: no-repeat;
                    fill: $input;
                }

                img{
                    width: 50vw;
                    border-radius: 10px;
                }

                input {
                    color: $blanc;
                    width: 75vw;
                    background-color: $input;
                    border: none;
                    border-radius: 30px;
                    padding: 2vh 20px 2vh 20px;
                }

                input:focus {
                    outline: none;
                }

                #autocomplete::-webkit-search-cancel-button {
                    -webkit-appearance: none;
                    appearance: none;
                    height: 10px;
                    width: 10px;
                    background-image: url('../assets/imgs/svg/cross.svg');
                    background-size: contain;
                }

                #getCurrentLocation{
                    margin-left: -6vw;
                    background-color: rgb(255, 76, 76);
                    font-size: 0.8rem;
                }

                h3{
                    margin: -5vh 0 -5vh 0;
                    width: 100vw;
                    margin: 0 10vw 0 10vw;
                }

                .details{
                    color: $blanc;
                    opacity: .5;
                    margin: -5vh 0;
                }

                p, a{
                    color: $blanc;
                    opacity: 1;
                    margin: -5vh 0;
                }

                .wideInput{
                    background-color: $fond;
                    width: 100vw;
                    padding-left: 10vw;
                    border-top: 1px solid $blanc;
                    border-radius: 0px;
                }
                textarea{
                    border-bottom: 1px solid $blanc;
                    margin-top: -5vh;
                    border-left: 0px;
                    border-right: 0px;
                    resize: none;
                    color: $blanc;
                    font-family: Arial, sans-serif;
                    padding: 15px 35px 15px 15px;
                }

                textarea:focus{
                    outline: none;
                }

                h2{
                    font-size: 1.4rem;
                    width: 100vw;
                    text-align: center;
                    margin-top: -2vh;
                }
                
                .stars{
                    display: flex;
                    flex-flow: wrap row;
                    justify-content: center;
                    align-items: center;
                    gap: 3vh;
                    margin: -5vh 0 15vh 0;
                    width: 80vw;

                    .star{
                        width: 40px;
                        height: 40px;
                        background-image: url('../assets/imgs/svg/star.svg');
                        background-size: contain;
                        background-color: transparent;
                        background-repeat: no-repeat;
                        transition: all 0.3s ease;
                    }

                    .active{
                        background-image: url('../assets/imgs/svg/star-active.svg');
                    }
                }

                #search-input{
                    width: 65vw;
                }

                #search-container{
                    position: relative;
                    margin-bottom: 5vh;
                }

                #results-container {
                    position: absolute;
                    top: 100%;
                    left: 0;
                    z-index: 1000;
                    display: none;
                    border: 1px solid #ccc;
                    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
                    background-color: #fff;
                    max-height: 200px;
                    overflow-y: auto;
                    color: $input;
                    width: 100%;
                    margin: 0;
                  }
              
                  .result-item {
                    padding: 8px;
                    cursor: pointer;
                    border-top: 1px solid rgba($color: $blanc, $alpha: .3);
                  }
              
                  .result-item:hover {
                    background-color: #f0f0f0;
                  }

                  #reset-button{
                    pointer-events: none;
                    opacity: .5;
                    border-radius: 30px;
                    width: fit-content;
                    padding: 10px 15px 10px 15px;
                    margin-left: -30px;
                    background-color: $blanc;
                }
            }
        }
    }
}